body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

  ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  ul.tabs li {
    flex-grow: 1;
  }
  
  ul.tabs li a {
    display: block;
    padding: 15px 20px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  ul.tabs li a:hover {
    background-color: #eaeaea;
  }
  
  .tab-content {
    margin-top: 50px;
  }

  .login-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
  }

  .login-link img {
    width: 20px;
    margin-right: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #555555;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  

.footer-address {
  margin-bottom: 10px;
}

.footer-phone,
.footer-email {
  margin-bottom: 10px;
}

.footer-copyright {
  margin-top: 10px;
}
